body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

/* Center auth */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Auth box */
.auth-box {
  background: #111827;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  color: white;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.auth-box p {
  margin-top: 10px;
  cursor: pointer;
  color: #60a5fa;
}

/* App */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Chat container */
.chat-container {
  width: 350px;
  height: 600px;
  background: #111827;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

/* Header */
.chat-header {
  background: #2563eb;
  color: white;
  padding: 15px;
}

/* Chat box */
.chat-box {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

/* Messages */
.message {
  background: #374151;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  margin: 5px 0;
  width: fit-content;
}

.message.own {
  background: #3b82f6;
  margin-left: auto;
}

/* Input */
.input-box {
  display: flex;
  padding: 10px;
  background: #1f2937;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.input-box button {
  margin-left: 10px;
  background: #22c55e;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}